<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Rectangles</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<h1>Rectangles</h1>
<a th:href="@{/rectangles/create}">Create New Rectangle</a>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Length</th>
        <th>Width</th>
        <th>Color</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="rectangle : ${rectangles}">
        <td><a th:href="@{/rectangles/{id}(id=${rectangle.id})}" th:text="${rectangle.name}">Name</a></td>
        <td th:text="${rectangle.length}">Length</td>
        <td th:text="${rectangle.width}">Width</td>
        <td th:text="${rectangle.color}">Color</td>
        <td>
            <a th:href="@{/rectangles/delete/{id}(id=${rectangle.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
